{% extends "base.html.twig" %}

{% block title %}{{ parent() }} | Modification : {{ produit.titre }}{% endblock %}

{% block h1 %}Modification : {{ produit.titre }}{% endblock %}

{% block body %}

    <a class="btn btn-info" href="{{ path("produit_afficher") }}">Retour à la gestion des produits</a>


    {% for notification in app.flashes('success') %}
        <div class="col-md-6 mx-auto text-center alert alert-success">{{ notification }}</div>
    {% endfor %}
    
    <div class="col-md-6 mx-auto">
        {{ form_start(formProduit) }}

        {{ form_row(formProduit.titre)}}

        {{ form_row(formProduit.prix)}}

        {{ form_row(formProduit.marque)}}


        {{ form_row(formProduit.matieres)}}

        {{ form_row(formProduit.imageFile, {'attr' : {"onChange" : "loadFile(event)"}} ) }}

        <div class="row justify-content-center ">
            <div class="col-md-6">
                <img id="image" 

                    {% if produit.image %}
                    
                        src="{{ asset("images/imagesUpload/" ~ produit.image) }}"

                    {% else %}

                        src="{{ asset("images/imageDefault.jpg") }}"

                    {% endif %}
                
                style="width:300px">
            </div>

            {% if produit.image %}
                <div class="col-md-6">
                <a href="{{ path('image_produit_supprimer' , {'id' : produit.id } ) }}">
                    <img src="{{ asset("images/delete.png")}}" alt="">
                </a>
                </div>
            
            {% endif %}
            
            
        </div>
        

        <input type="submit" value="Modifier" class="col-md-12 btn btn-dark mt-3">

        {{ form_end(formProduit) }}
    </div>


{% endblock %}

{% block javascripts %}

<script>

    let loadFile = function(event){
        let image = document.getElementById('image');
        image.src = URL.createObjectURL(event.target.files[0]);
    }
</script>

{% endblock %}


